<div class="home">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="page-header">Выберите действие</h1>
        </div>
    </div>
    <div class="row">
        <ul class="home-menu list-unstyled">
            <li class="col-sm-12">
                <button ng-click="$ctrl.showBalance()" class="btn btn-primary">Просмотреть остаток</button>
            </li>
            <li class="col-sm-12">
                <button ng-click="$ctrl.withdrawCash()" class="btn btn-primary">Снять деньги</button>
            </li>
            <li class="col-sm-12">
                <button ng-click="$ctrl.logout()" class="btn btn-primary">Забрать карту</button>
            </li>
        </ul>
    </div>
</div>